name: GitHub Actions Demo
on:
  push:
    branches: [ main ]
    paths-ignore: [.github/**]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Event trigger 
        run: |
          echo "Job triggered by event: ${{ github.event_name }}"
          
      - name: Branch name
        run: |
          echo "Branch Name: ${{ github.ref }}"
          
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: List files in the repository
        run: |
          echo "Files included in the repository ${{ github.repository }}:"
          tree
